<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-none">
    <label for="sidebar-drawer" class="btn btn-square btn-ghost lg:hidden">
      <%= icon "bars-3", class: 'inline-block h-5 w-5 stroke-current' %>
    </label>
  </div>
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost text-xl lg:hidden" do %>
      <%= image_tag "logo.png", class: "w-10" %>
    <% end %>
  </div>
  <div class="flex-none">
    <%#= vc ThemeDropdownComponent %>
    <button class="btn btn-ghost btn-circle">
      <%= icon "magnifying-glass", class: "h-5 w-5" %>
    </button>
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <%= icon "bell", class: "h-5 w-5" %>
        <span class="badge badge-xs badge-primary indicator-item"></span>
      </div>
    </button>
  </div>
</div>
