<%= render "layouts/flashes" %>
<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to root_path, class: "" do %>
      <%= image_tag "logo.png", class: "w-12" %>
    <% end %>
  </div>
  <div class="flex-none gap-2">
    <%= vc LocaleDropdownComponent %>
    <%= link_to _("Enter"), new_user_session_path, class: "btn btn-ghost" %>
  </div>
</div>
<%= yield %>
